asgiref==3.3.4
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
bidict==0.21.3
cffi==1.15.0
channels==3.0.4
constantly==15.1.0
cryptography==35.0.0
daphne==3.0.2
Django==3.1.5
django-cors-headers==3.7.0
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
netifaces==0.10.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==21.0.0
python-engineio==4.2.1
python-socketio==5.4.1
pytz==2021.1
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.1
Twisted==21.7.0
txaio==21.2.1
typing-extensions==3.10.0.2
websockets==8.1
zope.interface==5.4.0
